
.container{
	width: 1000px;
	margin: 0 auto;
}
header{
	background: red;
	height: 100px;
}
main{
	background: yellow;
	width: 70%;
	height: 250px;
	float: left;
}
aside{
	background: green;
	width:30%;
	height: 250px;
	float: right;
}
footer{
	background: blue;
	height: 100px;
	clear: both;
}
.clearfix:after {
	    content:"";
	    display:table;
	    clear:both;
	}