header{
	width: 1000px;
	height: 100px;
	background-color: ;
	border-bottom: 2px solid #EDEDED;
}
h1{
	font-family: 'montserrat', sans-serif;
	color: #3873DD;
	float: left;
	padding: 0 30px;
}
nav{
	padding: 35px;
	float: right;
}
a{
	font-family: sans-serif;
	text-decoration: none;
	color: #3873DD;
	padding-right: 30px;
}
main{
	height: 500px;
	width: 1000px;

}

@media (max-width: 500px) {
  h1 {
   font-size: 50px;
   margin-top: 20px;
   line-height: 40px;
}
nav{
	font-size: 50px;
	margin-top: 20px;
	line-height: 40px;
}
}
