/*article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
    width: 720px;
    padding: 54px;

}*/

.content {
	width: 720px;
/*	border: 1px solid blue;*/
}


img {
	width: 100%;
}

article {
/*	border: 1px solid red;*/
	border-bottom: 2px solid gray
}

h1{
	font-family: 'Lato', sans-serif;
	line-height: 1.5px;
	color: red;
}
.continues{
	float: right;
}

h2{
	color: black;
}

li{
	display: inline-block;
	color: #dddddd;
}

h3{
	color: black;
}

h4{
	color: #cccccc;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

a:link{
	color: #dddddd;
}

a: visited{
	color: #dddddd;
}

a:hover{
	color: black;
}

footer{
	color: #bbbbbb;
}
.bottom{
	color: red;
}
