
/*CRUFT can remove*/
/*article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
    width: 720px;
    padding: 54px;

}*/

/*can give this element a margin to move away from left side of screen to model comp*/
.content {
	width: 720px;
/*	border: 1px solid blue;*/
}


img {
	width: 100%;
}

article {
/*	border: 1px solid red;*/
	border-bottom: 2px solid gray
}

/*missing some spaces beore "{"*/
h1{
	font-family: 'Lato', sans-serif;
	line-height: 1.5px;
	color: red;
}
.continues{
	float: right;
}

h2{
	color: black;
}

li{
	display: inline-block;
	/*protip can shorten this to #ddd*/
	color: #dddddd;
}

/*could combine with h2 using comma since indentical style*/
h3{
	color: black;
}

h4{
	color: #cccccc;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

a:link{
	color: #dddddd;
}

/*extra space after : should be a:visited*/
a: visited{
	color: #dddddd;
}

a:hover{
	color: black;
}

footer{
	color: #bbbbbb;
}
.bottom{
	color: red;
}
