style.css
<style>
header{
        text-align: center;
        background: url("http://i.imgur.com/ZvX6OKz.jpg");
        background-size: cover;
        
    }
img {
      margin: 100px 0px 0px 0px;
    }

</style>