style.css
<style>
header{
        text-align: center;
        background: img src="cookies.jpg";
        background-size: cover;
        color: white;
    }
img {
      margin: 100px 0px 0px 0px;
    }

</style>